{% extends 'base.html.twig' %}

{% block body %}
    {% for candidate in candidates %}

        <div id="candidate-{{ candidate.id }}" class="panel panel-default">
            <div class="panel-heading">{{ candidate.username }}
                <a href="{{ path('show_user', {username: candidate.username}) }}">Profil</a>
                <a href="{{ path('advert_select_candidate', {id: advert.id , idCandidate: candidate.id}) }}">Sélectionner</a>
            </div>
            <div class="panel-body">
                {#{{ Todo Ajouter le texte present dans advertMessage par annonce }}#}
            </div>
            <div class="panel-footer">
                Footer
            </div>
        </div>
    {% endfor %}
{% endblock %}