{% extends 'base.html.twig' %}

{% block body %}

    <a class="btn btn-sm btn-success mgb10" href="{{ path('advert_new') }}">Créer une annonce</a>
    <a class="btn btn-sm btn-success mgb10" href="{{ path('advert_my') }}">Mes annonces</a>

    {% for advert in adverts %}
        <div id="advert-{{ advert.id }}" class="panel panel-default">
            <div class="panel-heading text-center">{{ advert.title }}
                {% if 'advert_index' in  app.request.get('_route') %}
                    {% if app.user and advert not in app.user.adverts %}
                        <a class="label label-primary pull-right"
                           href="{{ path('advert_apply', {id: advert.id}) }}">Posluter</a>
                    {% endif %}
                {% endif %}

                {% if 'advert_my' in  app.request.get('_route') %}
                    {% if app.user and advert.candidates|length > 0 %}
                        <a class="label label-primary pull-left" href="{{ path('advert_candidates', {id: advert.id}) }}">
                            candidats</a>
                    {% endif  %}
                    {% if advert.status != 'in progress' %}
                        <a class="label label-primary pull-right" href="{{ path('advert_edit', {id: advert.id}) }}">Modifier</a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="panel-body text-center">{{ advert.description }}</div>
            <div class="panel-footer">
                {{ advert.createdBy.username }}
                {% if 'advert_my' in  app.request.get('_route') and advert.status != 'in progress' %}
                    <a class="label label-primary pull-right" id="advert_cancel" data-title="{{ advert.title }}"
                       data-id="{{ advert.id }}" data-href="{{ path('advert_delete', {id: advert.id}) }}">Annuler</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ asset('assets/js/advert.js') }}"></script>
{% endblock %}