{% extends 'base.html.twig' %}

{% block body %}

    <a class="btn btn-sm btn-success mgb10" href="{{ path('advert_new') }}">Créer une annonce</a>
    {% if is_granted('ROLE_USER') %}
        {% if app.user.advertsCreate|length > 0 %}
            <a class="btn btn-sm btn-success mgb10" href="{{ path('advert_my') }}">Mes annonces</a>
        {% endif %}
    {% endif %}

    {% for advert in adverts %}
        <div id="advert-{{ advert.id }}" class="panel panel-default">
            <div class="panel-heading text-center">{{ advert.title }}
                {% if 'advert_index' in  app.request.get('_route') %}
                    {% if app.user and advert not in app.user.adverts and advert not in app.user.advertsCreate %}
                        <a class="label label-primary pull-right"
                           href="{{ path('advert_apply', {id: advert.id}) }}">Posluter</a>
                    {% endif %}
                {% endif %}

                {% if 'advert_my' in  app.request.get('_route') %}
                    <div class="btn-group pull-right">
                        <button type="button" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            {% if app.user and advert.candidates|length > 0 %}
                                {% if advert.candidateSelected is null%}
                                    <li><a href="{{ path('advert_candidates', {id: advert.id}) }}">candidats</a></li>
                                {% else  %}
                                    <li><a href="{{ path('show_user', {username:  advert.candidateSelected.username}) }}">Profil candidat</a></li>
                                {% endif  %}
                            {% else  %}
                                <li><a href="#">Aucun candidat</a></li>
                            {% endif  %}
                            {% if advert.status != 'in progress' %}
                                <li><a href="{{ path('advert_edit', {id: advert.id}) }}">Modifier</a></li>
                                <li>
                                    <a id="advert_cancel" data-title="{{ advert.title }}"
                                   data-id="{{ advert.id }}" data-href="{{ path('advert_delete', {id: advert.id}) }}">Annuler</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            </div>
            <div class="panel-body text-center">{{ advert.description }}</div>
            <div class="panel-footer">
                Crée par {{ advert.createdBy.username }} le {{ advert.createdDate|date("d/m/Y") }}
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ asset('assets/js/advert.js') }}"></script>
{% endblock %}