{% extends '::base.html.twig' %}
{% block body %}
    <section id="profil" class="col-md-6  col-md-offset-3 text-center">
        <h1><span class="glyphicon glyphicon-user"></span> Inscription</h1>
        <div class="register">
            {% block fos_user_content %}
                {% trans_default_domain 'FOSUserBundle' %}
                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

                <div class="form-group">
                    <div class="control-label">
                        {{ form_label(form.email) }}
                    </div>
                    {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                </div>

                <div class="form-group">
                    <div class="control-label">
                        {{ form_label(form.username) }}
                    </div>
                    {{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="form-group">
                    <div class="control-label">
                        {{ form_label(form.plainPassword.first) }}
                    </div>
                    {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="form-group">
                    <div class="control-label">
                        {{ form_label(form.plainPassword.second) }}
                    </div>
                    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div>
                    <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}"/>
                </div>
                {{ form_end(form) }}

            {% endblock fos_user_content %}
        </div>
    </section>
{% endblock %}