{% extends 'base.html.twig' %}
{% block body %}
    <section id="profil" class="show-user">
        <div class="left-infos">
            <div class="photo">
                <img src="{{ asset('images/profile/profile.png')}}" alt="{{ user.username }}">
            </div>
            <div class="contact">
                <div class="location">Paris</div>
                <a href="#" title="Me contacter">Me contacter</a>
            </div>
            <div class="skills">
                <span class="title">Mes compétences</span>
                <ul>
                    <li>PHP</li>
                    <li>HTML 5</li>
                    <li>CSS 3</li>
                </ul>
            </div>
        </div>
        <div class="body-infos">
            {{ include('@FOSUser/More/_head_body.html.twig') }}
            <div class="all-reviews">
                <h2>Tous mes avis</h2>
                {% for rw in user.reviews %}
                <div class="review">
                    <span class="note">{{ rw.note }}/10</span>
                    <p>{{ rw.comment }}</p>
                    <p>{{ rw.createdBy.firstname ~ " " ~ rw.createdBy.lastname }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
