{% extends 'base.html.twig' %}
{% block body %}
    <section id="profil" class="show-user">
        <div class="left-infos">
            <div class="photo">
                <img src="{{ asset('images/profile/profile.png')}}" alt="{{ user.username }}">
            </div>
            <div class="contact">
                <div class="location">Paris</div>
                <a href="#" title="Me contacter">Me contacter</a>
            </div>
            <div class="skills">
                <span class="title">Mes compétences</span>
                <ul>
                    <li>PHP</li>
                    <li>HTML 5</li>
                    <li>CSS 3</li>
                </ul>
            </div>
        </div>
        <div class="body-infos">
            {{ include('@FOSUser/More/_head_body.html.twig') }}
            <div class="about-me">
                <div class="para">
                    <h2>A propos :</h2>
                    <p>{{ user.description }}</p>
                </div>
                <div class="para">
                    <h2>Ma formation :</h2>
                    <p>{{ user.formation }}</p>
                </div>
                <div class="para">
                    <h2>Mon expérience professionel :</h2>
                    <p>{{ user.experiencesPro }}</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
